<ng-container *ngTemplateOutlet="web">
</ng-container>

<ng-container *ngTemplateOutlet="mobile">
</ng-container>

<!-- *********************** Web Layout *************************************  -->
<ng-template #web>
  <div class="d-none d-sm-block">
    <tnow-web-container></tnow-web-container>
  </div>
</ng-template>
<!-- ************************************************************************* -->

<!-- *********************** Mobile Layout *************************************  -->
<ng-template #mobile>
  <div class="d-block d-sm-none">
      <div class="loading-container">
          <div class="spinner"></div>
          <div class="spinner-center"></div>
          <div class="loading-text">See You Soon !!!</div>
        </div>
  </div>
</ng-template>
<!-- ************************************************************************* -->