:root {
    --main-bg-balck: #333333;
    --main-bg-gray-gradient: linear-gradient(to bottom, #4f4e4e, #333333);
    --main-bg-gray-repeating-linear-gradient: repeating-linear-gradient(to bottom, #333333, #4f4e4e);
}

.side-nav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--main-bg-gray-gradient);
}

.side-nav {
    width: 325px;
    background: var(--main-bg-gray-repeating-linear-gradient);
}

.tabContainer {
    height: calc(100vh - 49px);
    overflow-y: auto;
}

.mat-tab-header {
    background: #e53935;
    opacity: 1;
    color: white!important;
}

.mat-tab-label {
    color: white!important;
}


/* 
.mat-tab-label.mat-tab-label-active {
    background: white!important;
} */

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: white!important;
}