<mat-sidenav-container class="side-nav-container">
  <mat-sidenav class="side-nav" mode="side" opened="true">
    <tnow-sidenav></tnow-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-tab-group dynamicHeight="true">
      <mat-tab style="color:white;" label="Tab 1">
        <div class="tabContainer">

        </div>
      </mat-tab>
      <mat-tab label="Tab 2">
        <div class="tabContainer">

        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>